body,
p {
    margin: 0px;
    padding: 0px;
}

.filter-opt {
    background-color: #f0f7ef;
    padding: 10px;
}

.fr-alc {
    display: flex;
    justify-content: center;
    gap: 10px;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

input[type="checkbox"]:checked+label,
input[type="radio"]:checked+label {
    background-color: #bae2ff;
}

input[type="color"] {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

label {
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 45px auto;
    grid-template-rows: 27px auto;
    height: 100vh;
    overflow-x: scroll;
}

.head-row {
    grid-column: 2/3;
    display: flex;
    position: sticky;
    top: 0px;
    background-color: white;
}

.head-row .col-head {
    width: 90px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0000005a;
    font-size: 15px;
}

.junction {
    width: 42px;
    height: 23px;
    background-color: #f4f4f4;
    position: fixed;
    top: 45px;
    left: 0px;
    z-index: 1;
    border: 2px solid grey;
}

.serial-num {
    position: sticky;
    left: 0px;
    background-color: white;
}

.serial-num .serial-num-col {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0000005a;
    font-size: 13px;
}

.row-cell {
    display: flex;
}

.main-body .col-cell {
    background-color: white;
    width: 90px;
    height: 20px;
    border: 1px solid #82828263;
    outline: none;
    cursor: text;
    white-space: pre-wrap;
    overflow-x: hidden;
}

.box {
    width: 95vw;
    display: flex;
    gap: 5px;
}

.box input {
    flex-grow: 1;
    border-radius: 5px;
}

.selected-cell {
    width: 90px;
    border: 1px solid #0000005a;
    border-radius: 5px;
    margin-left: 2px;
    padding-left: 10px;
}